<!doctype html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="/static/css/edu.css?{% now "U" %}">
  </head>
  <body>

  	<div id="header">
	   <div class = "left_col" style="font-size:35px;">
	   	<img src="/static/images/icons/logo_header.svg" id = "header_logo_edu"/>
	   </div>

	   <div class = "right_col">
       <div id ="menu" class = "bg-mycolor">
     		<ul style = "margin:0px">
     			<a href="#">
     			<li>Home</li>
     			<li>About Us</li>
     			<li>Contact Us</li>
     			<li>Register</li>
     			<li>Gallery</li>
     			<li>Login</li>
     		</a>
     		</ul>

     	</div>
	   </div>

	</div>

     <div id= "slider">
        <div id = "slider_heading">
          Education Learning <br/> Course
        </div>
        <div id = "slider_body">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'
        </div>
        <div id="visit_button_container">
            <input type="submit" name="visit" class = "visit_btn" value="Schedule a visit">
        </div>

     <div id = "courses">
         <div id ="course_menu">

          </div>
     </div>

     </div>

  </body>
</html>
